@import url('/js/css/normalize.css');
@import url('/js/css/webflow.css');
@import url('/js/css/hdpt.webflow.css');

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.w-tab-link {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.navigation-item.is-form.is-compact .text-field {
  margin-bottom: 4px;
}
